a{
  text-decoration: none;
  color:#262e48;
}
.calendar-item{
  display: inline-block;
  box-sizing: border-box;
  margin: 5px;
  border-radius: 10%;
  padding:0 10px;
}
.calendar-item.active,.calendar-item.active:hover{
  background-color: #7449AD;
  color:white;
}
.calendar-item:hover{
  color:#7449AD;
}
.calendar-date{
  font-weight:bold;
}
.calendar-date, .calendar-day{
  text-align: center;
}
