/* You can add global styles to this file, and also import other style files */
body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  background-color:  #E9EBEE;
  margin:0;
}
body * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body h1 {
  font-size: 20px;
}

.initialLogo{
  position:absolute;
  top:35%;
  left:43%;
}
